

{% load static %}

{% block content %}
<footer class="footer">
    <div class="footer-bg">
        <div class="footer-container">
            <div class="name-container">
                <h1 class="footer-title">Isuru Manod</h1>
                <span class="footer-subtitle">Fullstack Developer</span>
            </div>
            <div class="footer-main">
                <ul class="footer-links">

                    <li>
                        <a href="#home" class="footer-link">
                            <i class="uil uil-estate footer-icon"></i>Home</a>
                    </li>
                    <li>
                        <a href="#home" class="footer-link"><i class="uil uil-bag footer-icon"></i>Portfolio</a>
                    </li>
                    <li>
                        <a href="#home" class="footer-link"><i class="uil uil-message footer-icon"></i>Contact</a>
                    </li>
                    <li>
                        <a href="#home" class="footer-link"> <i class="uil uil-file-info-alt footer-icon"></i>About</a>
                    </li>
                    <li>
                        <a href="#home" class="footer-link"><i class="uil uil-brain footer-icon"></i>Skills</a>
                    </li>
                </ul>
                <ul class="footer-socials">

                    <li><a href="" class="social-link">
                        <i class="uil uil-github footer-icon"></i>Github
                    </a>
                    </li>
                    <li><a href="" class="social-link">
                        <i class="uil uil-linkedin-alt footer-icon"></i> Linked In
                    </a>
                    </li>
                    <li><a href="" class="social-link">
                        <i class="uil uil-twitter footer-icon"></i>Twitter
                    </a>
                    </li>
                    <li><a href="" class="social-link">
                        <i class="uil uil-facebook-f footer-icon"></i>Facebook
                    </a></li>
                    <li><a href="" class="social-link">
                        <i class="uil uil-instagram footer-icon"></i>Instagram
                    </a></li>
                </ul>
            </div>

        </div>
        <p class="footer-copy">&#169; isurumanod . All right reserved</p>
    </div>
</footer>
{% endblock %}

