<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Isuru Manod</title>


    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

</head>
<body>

<header class="header" id="header">
    <nav class="nav">
        <a href="#" class="nav-logo">Isuru Snanayake</a>
        <div class="nav-menu" id="nav-menu">
            <ul class="nav-list grid">
                <li class="nav-item">
                    <a href="{% url "home" %}" class="nav-link">
                        <i class="uil uil-estate nav-icon"></i>Home</a>
                </li>
                <li class="nav-item">
                    <a href="#about" class="nav-link">
                        <i class="uil uil-file-info-alt nav-icon"></i>About</a>
                </li>

                <li class="nav-item">
                    <a href="{% url "projects" %}" class="nav-link">
                        <i class="uil uil-bag nav-icon"></i>Portfolio</a>
                </li>
                <li class="nav-item">
                    <a href="{% url "contact-form" %}" class="nav-link">
                        <i class="uil uil-message nav-icon"></i>Contact </a>
                </li>
                <li class="nav-item">
                    <a href="{% url "create-project" %}" class="nav-link">
                        <i class="uil uil-message nav-icon"></i>Add Project </a>
                </li>
                <li class="nav-item">
                    <a href="{% url "inbox" %}" class="nav-link">
                        <i class="uil uil-message nav-icon"></i>Inbox </a>
                </li>


            </ul>


        </div>

        <img src="https://avatars.githubusercontent.com/u/111575402?s=96&v=4" class="nav-image">
    </nav>
</header>



{% block content %}




	<script type="text/javascript" src="{% static "js/script.js" %}"></script>


{% endblock %}

</body>
</html>